@media all and (max-width: 1170px){
   .conteiner{
       width: 546px;
   } 
   h2{
       font-size: 15px;
   }
   .text>img{
        padding-left: 65px;
        float: none;
   }
   .fixed{
        position: fixed;
        right: 320px;
        top: 12px;
        width: 70px;
        height: 27px;
        font-size: 12px;
   }
}
@media all and (max-width: 570px){
    .conteiner{
        width: 320px;
    } 
    h2{
        font-size: 14px;
    }
    .menu{
        float: none;
    }
    .text{
        margin-left: 0;
    }
    .text>img{
        float: none;
        width: 255px;
        padding-left: 10px;
   }
   .text>p{
    padding: 0 10px;
   }
   .fixed{
    right: 140px;
    top: 30px;
    }
}