*{
    margin: 0;
    padding: 0;
}
.clearfix:after { 
    content: ".";
    visibility: hidden; 
    display: block;
    height: 0; 
    clear: both 
}
.star1{
    width: 390px;
}
.star0{
    background: url(img/star0.png) no-repeat;
    float: right;
    width: 75px;
    height: 78px;
    padding-right: 3px;
}
.star0:hover{
    background: url(img/star1.png) no-repeat;
}
.star0:hover~div{
    background: url(img/star1.png) no-repeat;
}


